.cardTitle {
    font-size:11px;
    text-align: left;
}
.card-body {
    padding-top: 0px;
}
.cardDescription{
    font-size:11px;
    text-align: left;
    text-justify: initial;
}
.btn-dark {
    font-size:11px; 
    padding-top: 0px;
    text-align: left;
}
.totalPriceTxt {
    font-size:13px;
    text-align: left;
}
.orderButtons {
    border-width: 1px;
    border-color: black;
}

.btn-light {
    background-color: #f3e9dd;
}
.btn-danger {
    border-color: #46c3c1;
}
.modbtn {
    margin-right: 3px;
    margin-left: 3px;
}
.navmenu {
    background-color: #323a42;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navmenuitem{
    padding-top: 16px;
    padding-bottom: 16px;
}
@font-face {
    font-family: title;
    src: url(https://fonts.google.com/specimen/Satisfy?preview.text_type=custom);
  }
  .mainTitleText {
      font-family: title;
  }